body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0e80b0;
}

.square {
  background-color: #fff;
  color: #e5dc15;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  margin: 15px;
  padding: 5px;
  border: 2px solid #e5dc15;
  border-radius: 5px;
  box-shadow: 0 12px #c2bb11, 0 18px rgba(0,0,0,0.4);
  font-size: 60px;
  width: 90px;
  height: 80px;
  cursor: pointer;
  position: relative;
  top: 0;
}

.square:hover{
  background-color: #e5dc15;
  
  color: #fff;
  top: 4px;
  box-shadow: 0 8px #c2bb11, 0 14px rgba(0,0,0,0.4);

}

.square:active{
  top: 8px;
  box-shadow: 0 4px #c2bb11, 0 10px rgba(0,0,0,0.4);
}

.game {
  display: flex;
  flex-wrap: wrap;
}

.game-info{
  margin-left: 15px;
  color: #fff;
}

.status {
  margin-bottom: 10px;
}

li{
  list-style: none;
}

li button{
  background-color: #c2bb11;
  border: none;
  border-radius: 5px;
  color: #fff;
  height: 4vh;
  margin-bottom:5px;
  cursor: pointer;
}

li button:hover{
  background-color: #fff;
  color: #c2bb11;
}